
<!-- Start About us -->
<section id="mu-about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-about-us-area">

          <div class="mu-title">
            <span class="mu-subtitle">Discover</span>
            <h2>ABOUT US</h2>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="mu-about-us-left">
                <img src="assets/img/aboutus.png" alt="img">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mu-about-us-right">

                <p> We Founders of Madurai Mes had an idea to create a restaurant that was more than a
                  place that served great food. We wanted to give locals a place where they'd always
                  feel at home.
                  A place where they could get delicious food at down-to-earth prices, and where
                  they'd be treated right by people who had a passion to serve.</p>

                <p>From the moment you step into The MaduraiMes, the experience is an comfortable
                  elegance.
                  Indian paneling and Art Deco chandeliers provide a warm, stately setting for our
                  nationally renowned dishes and acclaimed authentic desserts.
                  With service as gracious as it is attentive, we look forward to impressing you.</p>

                <p>We treat people right, and that's what makes new guests feel welcome, and regulars
                  feel right at home.</p>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About us -->

