
<!-- Start Chef Section -->
<section id="mu-chef">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-chef-area">

          <div class="mu-title">
            <span class="mu-subtitle">Our Professionals</span>
            <h2>MASTER CHEFS</h2>
          </div>

          <div class="mu-chef-content">
            <ul class="mu-chef-nav">
              <li>
                <div class="mu-single-chef">
                  <figure class="mu-single-chef-img">
                    <img src="../../assets/img/chef/chef-1.jpg" alt="chef img">
                  </figure>
                  <div class="mu-single-chef-info">
                    <h4>Sanjay Thumma</h4>
                    <span>Head Chef</span>
                  </div>
                  <div class="mu-single-chef-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </li>

              <li>
                <div class="mu-single-chef">
                  <figure class="mu-single-chef-img">
                    <img src="../../assets/img/chef/chef-2.jpg" alt="chef img">
                  </figure>
                  <div class="mu-single-chef-info">
                    <h4>Sanjeev Kapoor</h4>
                    <span>Appetizers Chef</span>
                  </div>
                  <div class="mu-single-chef-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </li>

              <li>
                <div class="mu-single-chef">
                  <figure class="mu-single-chef-img">
                    <img src="../../assets/img/chef/chef-3.jpg" alt="chef img">
                  </figure>
                  <div class="mu-single-chef-info">
                    <h4>Vikas Khanna</h4>
                    <span>Desserts Chef</span>
                  </div>
                  <div class="mu-single-chef-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </li>

              <li>
                <div class="mu-single-chef">
                  <figure class="mu-single-chef-img">
                    <img src="../../assets/img/chef/chef-4.jpg" alt="chef img">
                  </figure>
                  <div class="mu-single-chef-info">
                    <h4>Nita Mehta</h4>
                    <span>Biryani's Chef</span>
                  </div>
                  <div class="mu-single-chef-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </li>

              <li>
                <div class="mu-single-chef">
                  <figure class="mu-single-chef-img">
                    <img src="../../assets/img/chef/chef-5.jpg" alt="chef img">
                  </figure>
                  <div class="mu-single-chef-info">
                    <h4>Kumar Mahadevan</h4>
                    <span>Head Chef</span>
                  </div>
                  <div class="mu-single-chef-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </li>

              <li>
                <div class="mu-single-chef">
                  <figure class="mu-single-chef-img">
                    <img src="../../assets/img/chef/chef-1.jpg" alt="chef img">
                  </figure>
                  <div class="mu-single-chef-info">
                    <h4>Ranveer Brar</h4>
                    <span>South indian Chef</span>
                  </div>
                  <div class="mu-single-chef-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </li>

              <li>
                <div class="mu-single-chef">
                  <figure class="mu-single-chef-img">
                    <img src="../../assets/img/chef/chef-2.jpg" alt="chef img">
                  </figure>
                  <div class="mu-single-chef-info">
                    <h4>Madhur Jaffrey</h4>
                    <span>North - Indian Chef</span>
                  </div>
                  <div class="mu-single-chef-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </li>

              <li>
                <div class="mu-single-chef">
                  <figure class="mu-single-chef-img">
                    <img src="../../assets/img/chef/chef-3.jpg" alt="chef img">
                  </figure>
                  <div class="mu-single-chef-info">
                    <h4>Kunal Kapur</h4>
                    <span>Assistant Chef</span>
                  </div>
                  <div class="mu-single-chef-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Chef Section -->
